.jumbotron {
  text-align: center;
  background-color: #f4deb5;
}

html, body, .row, .container {
    height: 100%;
}
body {
  background-color: #E6E6E6;
}

h3 {
  color: #f4deb5;;
}

h4 {
  color: white;
}

.col-sm-3 {
  background-color: #90BB90;
  color: black;
  height: 100%;
  /*margin-left: 0px;
  padding-left: 0px;*/
  /*position: fixed;*/
}

.container {
  margin-left: 0px;
  padding-left: 0px;
}

.row {
  margin-left: 0px;
}

.col-sm-9 {
  padding-left: 55px;
  padding-top: 19px;
}

#colText {
  font-size: 44px;
}

p, li {
  font-size: 18px;
}

#gitName {
  color: #658DAD;
}
